# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# GeoServer / SIG
geoserver_data/
